<h2 mat-dialog-title>Order #{{data.order.id}}</h2>
<mat-dialog-content class="mat-typography"  *ngIf="modalState == modalStateOptions.OrderDetails">
  <mat-table [dataSource]="data.items" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product_ID}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Product">
        <mat-header-cell *matHeaderCellDef>Table</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Size">
        <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.size}} </mat-cell>  
      </ng-container>
      <ng-container matColumnDef="Qty">
        <mat-header-cell *matHeaderCellDef>Qty</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>  
      </ng-container>
      <ng-container matColumnDef="Cost">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price | currency: 'GBP'}} </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let element; columns: columnsToDisplay;"></mat-row>
  </mat-table> 
</mat-dialog-content>

<app-action-select [orderId]="data.order.id" *ngIf="modalState == modalStateOptions.ActionSelect" (statusUpdateAction)="reloadOrders($event)"></app-action-select>
<mat-dialog-actions align="end" class="mt-2">
  <button mat-fab color="warn" (click)="cancelOrder(data)">
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-fab color="warn" (click)="openActionSelect(data.order.id)">
    <mat-icon>local_drink</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-fab color="accent" (click)="printOrder(data)">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-fab color="accent" (click)="completeOrder(data)">
    <mat-icon>done_outline</mat-icon>
  </button>
</mat-dialog-actions>

